.navbar {
    background-color: #eeeeee;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
};

.container {
    color: aliceblue;
    background: #000000;
}

img {
    width: 250px;

}